@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?56195q');
  src:  url('fonts/icomoon.eot?56195q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?56195q') format('truetype'),
    url('fonts/icomoon.woff?56195q') format('woff'),
    url('fonts/icomoon.svg?56195q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-t:before {
  content: "\e919";
}
.icon-tri:before {
  content: "\e918";
}
.icon-text:before {
  content: "\e90f";
}
.icon-line:before {
  content: "\e910";
}
.icon-round-2:before {
  content: "\e911";
}
.icon-round:before {
  content: "\e912";
}
.icon-eraser:before {
  content: "\e913";
}
.icon-rect:before {
  content: "\e914";
}
.icon-rect-1:before {
  content: "\e915";
}
.icon-pencle:before {
  content: "\e916";
}
.icon-toBig:before {
  content: "\e917";
}
.icon-清空:before {
  content: "\e90e";
}
.icon-more:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-big:before {
  content: "\e90c";
}
.icon-small:before {
  content: "\e90d";
}
.icon-8 .path1:before {
  content: "\e908";
  color: rgb(106, 194, 89);
}
.icon-8 .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-0:before {
  content: "\e907";
}
.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-4:before {
  content: "\e903";
}
.icon-5:before {
  content: "\e904";
}
.icon-6:before {
  content: "\e905";
}
.icon-7:before {
  content: "\e906";
}

